.links-table {
    --gap: 15px;

    display: flex;
    width: 100%;
    margin: 25px 0 0;
}

.category-list {
    display: block;
}

.links-list {
    display: block;
    width: max-content;
    padding: 0 0 0 20px;
}

.category-list button {
    background: transparent;
    width: 100%;
    height: 42px;
    padding: 0 20px 2px;
    color: var(--aqua-color);
    border: none;
    border-left: 2px solid var(--aqua-color);
    cursor: pointer;
    text-align: left;
    letter-spacing: 0.025em;
}

.category-list button:hover {
    background: var(--navy-light-color);
}

.category-list button:focus {
    background: var(--navy-light-color);
}

.links-table ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
}

.links-list ul {
    width: max(100%, 764px);
}

.links-list li a {
    padding: 10px 5px;
}

.links-list ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.links-list ul li a:hover,
.links-list ul li:hover {
    background: var(--navy-light-color);
    color: var(--aqua-color) !important;
}

.links-list ul p {
    height: fit-content;
    margin: 0;
    text-align: left;
}

.links-list .folder-ico {
    margin-inline-end: 10px;
    width: max-content;
    height: max-content;
}

.link-cnt {
    display: flex;
}

.link-tool {
    margin-inline-start: 5px;
    display: flex;
}

.links-list svg {
    margin-inline: 4px;
}