:root {
    --color-create-btn: #28a745;
    --color-edit-btn: #ffc107;
    --color-remove-btn: #dc3545;
    --border-size-btn: 1px;
}

.data-list-admin {
    width: 100%;
    padding: 10px 20px;
}

.data-list-admin h2 {
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.data-table {
    --padding-cell: 16px;
    --letter-spacing-cell: 1px;

    display: table;
    position: relative;
    width: inherit;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

.data-table .thead {
    display: table-header-group;
    font-weight: 500;
}

.data-table .tr {
    display: table-row;
}

.data-table .td {
    display: table-cell;
}

.data-table .thead,
.data-table .tr,
.data-table .td {
    border-bottom: 1px solid var(--native-color);
    text-align: left;
    padding: var(--padding-cell);
    letter-spacing: var(--letter-spacing-cell);
}

.data-table .thead .td:first-child,
.data-table .thead .td:last-child,
.data-table .tr .td:first-child,
.data-table .tr .td:last-child {
    width: 180px;
}

.data-table .tr-link:hover {
    cursor: pointer;
    background: var(--navy-light-color);
}

.data-table .icon-add {
    display: block;
    margin: 0 auto;
}

.action-tool {
    padding: 12px !important;
}

.action-tool button {
    display: inline-block;
    height: 100%;
    background: none;
    border: none;
    font-size: inherit;
    letter-spacing: var(--letter-spacing-cell);
}

.action-tool .edit-btn {
    border: var(--border-size-btn) solid var(--color-edit-btn);
    color: var(--color-edit-btn);
    width: 110px;
    margin-inline-end: 5px;
}

.action-tool .remove-btn {
    border: var(--border-size-btn) solid var(--color-remove-btn);
    color: var(--color-remove-btn);
    width: 35px;
}

.action-tool button {
    border: 1px solid var(--aqua-color);
    color: var(--aqua-color);
    padding: 5px;
}

.action-tool .edit-btn:hover,
.action-tool .remove-btn:hover {
    cursor: pointer;
    background: var(--navy-light-color);
    border-color: var(--aqua-color);
    color: var(--aqua-color);
}