.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
}

.bug-ico {
    display: block;
    margin: 0 auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.auth-form input {
    height: 100%;
    background: none;
    font-size: inherit;
    letter-spacing: var(--letter-spacing-cell);
}

.auth-form .input-field {
    text-align: center;
    margin: 18px 4px 0 4px;
    width: 100%;
    padding: 10px;
    color: var(--aqua-color);
    letter-spacing: .5px;
    border-bottom: 1px solid var(--native-color);
}

.auth-form .input-field::placeholder {
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
    color: inherit;
}

.auth-form label {
    color: white;
    font-size: 14px;
    margin-top: 17px;
    transition: opacity 0.3s ease-in-out;
}

.auth-form label:before {
    content: "";
}

.auth-form input[type="submit"] {
    display: block;
    margin: 15px auto;
    width: 110px;
    padding: 5px;
    border: var(--border-size-btn) solid var(--color-create-btn);
    color: var(--color-create-btn);
}

.auth-form input[type="submit"]:hover {
    cursor: pointer;
    background: var(--navy-light-color);
    border-color: var(--aqua-color);
    color: var(--aqua-color);
}

.auth-form input[type="submit"][value] {
    text-transform: uppercase;
    font-weight: 500;
}